@charset "utf-8";

/* large screen */
@media (min-width: 960px) {

  /* common */
  section {
    margin: 0 auto;
  }

  /* large header */
  header {
    background-size: 100% 200%;
    margin-left: calc((100% - 960px) / 2);
  }

  header .logo a {
    padding: 2.4vh 0 0 3vw;
  }

  header .logo a img {
    height: 80%;
  }

  header .btn {
    width: 12%;
    height: 9vh;
    line-height: 9vh;
    margin-top: calc((15vh - 9vh) / 2);
  }

  /* large hero */
  .hero table td.tel {
    width: 40%;
  }

  .hero h1.eye-catch {
    margin: 32px 0;
  }
  
  .hero ul.problem-list {
    width: 100%;
  }

  .hero ul.problem-list img {
    opacity: 1;
    width: 50%;
    margin-left: calc((960px - 50%) / 2);
  }
  
  .hero ul.problem-list li {
    width: 30%;
    font-size: 0.85rem;
    position: absolute;
    text-align: center;
  }
  
  .hero li:nth-child(2) {
    top: 0;
    left: 0;
  }

  .hero li:nth-child(3) {
    top: 24px;
    right: -20px;
  }
  
  .hero li:nth-child(4) {
    top: 148px;
    left: -80px;
  }
  
  .hero li:nth-child(5) {
    top: 152px;
    right: -80px;
  }

  .hero li:nth-child(6) {
    top: 296px;
    right: 0px;
  }
  
  .hero li:nth-child(7) {
    top: 286px;
    left: -20px;
  }

  /*large profile*/
  .profile div {
    display: flex;
  }

  .profile div img {
    width: 20%;
  }

  .profile div p {
    text-align: left;
    margin-left: 32px;
  }
}