@charset "utf-8";

/* large screen */
@media (min-width: 960px) {

  /* common */
  a.sns {
    padding: 0;
  }

  /* large header */
  header {
    width: 100%;
    height: auto;
  }

  header .logo a {
    width: 100px;
  }

  header .pc-menu {
    position: relative;
    z-index: 3;
    display: block;
    margin-left: auto;
    color: #fff;
  }

  header .pc-menu ul {
    display: flex;
    align-items: center;
  }

  header .pc-menu li {
    display: flex;
    justify-content: center;
    width: 150px;
    text-align: center;
  }

  header .pc-menu a {
    width: 100%;
    font-size: 16px;
  }

  header .pc-menu a:hover {
    color: #f2f2f2;
  }

  header .pc-menu a.instagram {
    width: var(--a-fsz);
  }
  
  header .pc-menu .btn {
    background: rgb(42, 41, 40);
    border-radius: 32px;
    font-size: var(--btn-fsz);
    cursor: pointer;
    box-shadow: 2px 2px 5px gray;
    line-height: 40px;
    transition: opacity .3s;
  }
  
  header .pc-menu .btn:hover {
    background: white;
    color: black;
  }

  header .pc-menu img {
    width: 65%;
    /* margin-bottom: 3.8px; */
  }

  header .sp-menu {
    display: none;
  }

  /* large main */  
  #main {
    width: 100%;
  }
  
  #main .bg {
    padding: calc((98vh / 2) - 50px) 0px;
  }

  #main .bg a {
    width: 40%;
  }

  #main img {
    width: 100%;
    height: 100%;
  }

  #main .bg-inner {
    top: calc((98vh / 2) - 180px) ;
  }

  /* large eyeimg */
  #eyeimg .images {
    width: 90%;
    margin: 0 auto;
  }

  /* large contents */

  /* large profile */
  #profile .personal {
    display: flex;
    justify-content: space-between;
  }

  #profile .personal img {
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }

  #profile div.detail div p {
    width: 60%;
  }

  /* large timeline */
  #timeline .twitter-timeline {
    margin: 0 auto;
    width: 40%;
  }
}