@charset "utf-8";

/* large screen */
@media (min-width: 960px) {

  /* common */

  /* header */
  header {
    width: 100%;
    height: auto;
    /* aspect-ratio: 278 / 20; */
  }

  header .logo a {
    width: 100px;
  }

  header .pc-menu {
    position: relative;
    z-index: 3;
    display: block;
    margin-left: auto;
    color: #fff;
  }

  header .pc-menu ul {
    display: flex;
  }

  header .pc-menu li {
    width: 100px;
    text-align: center;
    margin-right: 8px;
    line-height: 100px;
  }

  header .pc-menu a {
    width: 100%;
  }

  header .pc-menu a:hover {
    color: #f2f2f2;
  }

  header .pc-menu a.instagram {
    width: var(--i-size);
  }
  
  header .pc-menu .btn {
    background: white;
    color: black;
    border-radius: 32px;
    font-size: var(--btn-fsz);
    cursor: pointer;
    box-shadow: 2px 2px 5px gray;
    line-height: 40px;
    transition: opacity .3s;
  }
  
  header .pc-menu .btn:hover {
    background: white;
    color: black;
  }

  header .pc-menu img {
    width: 70%;
    margin-bottom: 15px;
  }

  header .sp-menu {
    display: none;
  }

  /* large main */  
  #main {
    width: 100%;
  }
  
  #main .bg {
    padding: calc((98vh / 2) - 50px) 0px;
  }

  #main .bg a {
    width: 40%;
  }

  #main img {
    width: 100%;
    height: 100%;
  }

  #main .bg-inner {
    top: calc((98vh / 2) - 180px) ;
  }

  /* large eyeimg */
  #eyeimg .images {
    /* aspect-ratio: 7 / 3; */
    width: 90%;
    margin: 0 auto;
  }

  /* large profile */
  #profile .personal {
    display: flex;
    justify-content: space-between;
  }

  #profile .personal img {
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }

  #profile div.detail div p {
    width: 60%;
  }

  /* large timeline */
  #timeline .twitter-timeline {
    margin: 0 auto;
    width: 40%;
  }
}