@charset "utf-8";

section.privacy {
  padding-top: 15vh;
  margin-bottom: 16px;
}

section.privacy h1 {
  margin: 24px;
}

section.privacy h2 {
  margin: 0 24px 24px;
  display: flex;
}

section.privacy p {
  margin: 0 24px 24px;
  font-weight: normal;
  line-height: 2em;
}

section.privacy ul {
  margin: 0 24px 24px;
}

section.privacy li {
  margin: 0 0 24px 24px;
  font-weight: normal;
  text-indent: -24px;
  line-height: 2em;
}