@charset "UTF-8";
/* common */
:root {
  --h1-fsz: clamp(1.6rem, 3.2vw, 2rem);
  --h2-fsz: clamp(1.3rem, 3.2vw, 1.7rem);
  --h3-fsz: clamp(1.1rem, 3.2vw, 1.5rem);
  --li-fsz: clamp(1.1rem, 3.2vw, 1.4rem);
  --p-fsz: clamp(1.1rem, 3.2vw, 1.3rem);
  --btn-fsz: clamp(0.6rem, 3.2vw, 0.8rem);
  --tb-fsz: clamp(0.9rem, 3.2vw, 1rem);
  --list-fsz: clamp(0.8rem, 3.2vw, 1rem);
  --small-fsz: clamp(0.7rem, 3.2vw, 0.8rem);
  --i-fsz: clamp(1.4rem, 3.2vw, 1.6rem);
  --a-fsz: 40px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro JP", sans-serif;
  /* background: url(../img/wood-texture_00031.jpg) center; */
  background-color: #585858;
  color: rgb(255, 255, 255);
}

section {
  box-sizing: border-box;
  width: 95%;
  margin: 0px auto 30px;
}

h1,h3,hr {
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: var(--h1-fsz);
}

h2 {
  font-size: var(--h2-fsz);
  margin: 16px 0;
  padding: 7px;
  border-bottom: 2px solid #aebabb;
  border-left: 16px solid #aebabb;
}

h3 {
  font-size: var(--h3-fsz);
}

p {
  font-size: var(--p-fsz);
  margin: 0;
  line-height: 2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: var(--li-fsz);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
}

a:hover {
  opacity: .5;
  transition: opacity .3s;
}

img {
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

a.sns {
  width: var(--a-fsz);
  height: var(--a-fsz);
  border-radius: 50%;
  text-align: center;
  line-height: var(--a-fsz);
  background: rgb(39, 38, 38);
  position: relative;
}

a.sns.instagram:hover {
  background: linear-gradient(45deg, rgba(254,212,117,1) 0%,rgba(229,61,93,1) 50%,rgba(194,49,134,1) 70%,rgba(156,56,187,1) 100%);
  opacity: 1;
}

i {
  cursor: pointer;
}

i.bi.bi-instagram {
  position: absolute;
  top: -2px;
  left: calc((40px - var(--i-fsz)) / 2);
  display: inline-block;
  font-size: var(--i-fsz);
  color: #fff;
}

i.bi::before{
  vertical-align: -.18em;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 2s ease-in-out 2s forwards;
}

hr.leftline {
  position: absolute;
  top: 0;
  width: 100%;
  left: -105%;
  animation: leftIn 3s ease-in-out 2.5s forwards;
}

hr.rightline {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: -105%;
  animation: rightIn 3s ease-in-out 2.5s forwards;
}

#a,#b,#c,#d,#e {
  height: 90px;
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes leftIn {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes rightIn {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

/* header */
header {
  box-sizing: border-box;
  background: url(../img/turu.png) no-repeat center/cover;
  background-color: #323435;
  position: fixed;
  padding: 0 16px;
  top: 0;
  right: 0;
  left: 0; 
  height: 100px;
  transition: box-shadow .3s;
  z-index: 1;
  display: flex;
  align-items: center;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(59, 59, 59, 0.3);
}

header.scrolled {
  box-shadow: 0 0 4px #000000ad;
  background-color: #323435;
}

header .logo a {
  width: 20vw;
  margin: 0;
  line-height: 48px;
}

header .pc-menu {
  display: none;
}

header .sp-menu {
  margin-left: auto;
}

header .sp-menu #open {
  position: absolute;
  top: 32px;
  right: 16px;
  line-height: 32px;
  font-size: 32px;
}

header .sp-menu #open.hide {
  display: none;
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #585858ee;
  text-align: center;
  padding: 64px;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  line-height: 32px;
  color: rgb(255, 255, 255);
  top: 32px;
  right: 16px;
  font-size: 32px;
}

.overlay li {
  font-size: 20px;
  margin-top: 24px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .4s;
}

.overlay li img {
  display: flex;
  margin: 0 auto;
  width: 100px;
}

.overlay li p {
  font-size: 18px;
  line-height: 25px;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}

.overlay.show li:nth-child(5) {
  transition-delay: .5s;
}

/* main */
#main {
  padding-top: 100px;
}

#main .bg {
  overflow: hidden;
  background: url(../img/background.JPG);
  background-size: cover;
  padding: 150px 0px;
  position: relative;
  transition: 2s;
}

#main .bg::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#main .bg-inner {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 65px;
}

#main .theme {
  position: relative;
  height: 48px;
}

#main h1 {
  line-height: 48px;
}

#main img {
  width: 250px;
}

#main img.fadeIndelay {
  opacity: 0;
  animation: fadeIn 2s ease-out 4s forwards;
}

#main .catch {
  position: relative;
  height: 48px;
} 

#main h3 {
  text-align: center;
  line-height: 48px;
}

/* eyeimg */
#eyeimg .images {
  /* aspect-ratio: 4 / 3; */
  overflow: hidden;
  position: relative;
}

#eyeimg .images img {
  height: 100%; 
}

.hidden {
  display: none;
}

#eyeimg nav.dots {
  margin-top: 16px;
  text-align: center;
}

#eyeimg nav.dots button {
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

#eyeimg nav.dots button + button {
  margin-left: 8px;
}

#eyeimg nav.dots .current {
  background: #999;
}

/* index */
#index .items ul {
  width: 90%;
  background: rgb(77, 74, 71);
  margin: 0 auto;
  padding: 8px 0 0 16px;
  border-top: 3px double gray;
  border-bottom: 3px double gray;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#index .items ul li {
  margin-bottom: 8px;
  cursor: pointer;
  position: relative;
  width: fit-content;
}

#index .items ul li:hover {
  border-radius: 8px;
  transition: all .3s;
}

#index .items ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: #efeaea;
  position: relative;
  top: -1px;
  margin-right: 10px;
}

#index .items ul li::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #aebabb;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
  transition: all 0.3s;   /*変形の時間*/
}

#index .items ul li:hover::after {
  transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}

/* ivent */
#calendar {
  width: 90%;
  margin: 30px auto 0;
  max-width: 960px;
}

#calendar iframe {
  width: 100%;
  height: 65vh;
  border-radius: 4px;
}

/* profile */
#profile div.detail {
  margin: 0 auto 16px;
  border: 3px double rgb(255, 255, 255);
  border-radius: 8px;
  width: 100%;
}

#profile .detail h3 {
  text-align: center;
  margin: 16px 0;
  font-size: 1.5em;
}

#profile .personal {
  margin: 0 16px;
}

#profile .personal img {
  width: 250px;
  height: 250px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: calc((100% - 252px)/2);
  margin-bottom: 16px;
  object-position: 0% 0%;
}

#profile div.detail div p {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgb(0, 0, 0);
  text-align: left;
}

#profile div.detail > p {
  margin: 0 16px;
  padding: 16px;
}

#profile p a {
  color: rgb(245, 135, 18);
  font-weight: bold;
  font-size: 1.3em;
}

/* course */
#course ul li {
  margin-bottom: 8px;
}

#course ul li:hover {
  cursor: pointer;
}

#course details {
  border: 2px solid #aebabb;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

#course summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

#course details[open] {
  padding: 0.5em;
}

#course details[open] summary {
  border-bottom: 2px solid #aebabb;
  margin-bottom: 0.5em;
}

/* timeline */

/* copyright */
.copyright {
  background: #323435;
  height: 15vh;
  min-height: 80px;
  display: flex;
  position: relative;
  margin: 0 auto;
  align-items: center;
}

.copyright.privacy_copyright {
  line-height: 100%;
}

.copyright small {
  display: block;
  font-size: var(--small-fsz);
  color: #eee;
  margin-left: 16px;
}

.copyright a.sns {
  background: rgb(39, 38, 38);
}

.copyright a.sns.instagram {
  position: absolute;
  right: calc(var(--i-fsz) + 32px);
  top: calc((100% - var(--i-fsz)) / 2)
}

#to_top {
  position: fixed;
  bottom: 16px;
  right: 8px;
  opacity: 0;
  transition: opacity .3s;
}

#to_top.scrolled {
  opacity: 1;
}

#to_top i {
  font-size: 40px;
  color: #aebabb;
}