@charset "utf-8";

/* common */
:root {
  --h1-fsz: clamp(1.4rem, 3.2vw, 1.9rem);
  --h2-fsz: clamp(1.2rem, 3.2vw, 1.5rem);
  --h3-fsz: clamp(1rem, 3.5vw, 1.3rem);
  --li-fsz: clamp(0.9rem, 3.2vw, 1.2rem);
  --p-fsz: clamp(0.9rem, 3.2vw, 1rem);
  --btn-fsz: clamp(0.6rem, 2.6vw, 1rem);
  --tb-fsz: clamp(0.7rem, 3.2vw, 1.2rem);
  --list-fsz: clamp(0.8rem, 2.9vw, 1rem);
  --small-fsz: clamp(0.7rem, 2.9vw, 0.8rem);
  --i-size: 2.2rem;
}

body,section,dl,dt,dd,h1,h2,h3,p,a,ul,li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif; */
  background: url(../img/wood-texture_00031.jpg) center;
  color: rgb(56, 53, 53);
}

h1,h2,h3 {
  font-weight: bold;
}

h1 {
  font-size: var(--h1-fsz);
}

h2 {
  font-size: var(--h2-fsz);
}

h3 {
  font-size: var(--h3-fsz);
}

p {
  font-size: var(--p-fsz);
  margin: 0;
  line-height: 2em;
}

dt, dd {
  font-size: var(--list-fsz);
}

ul,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: var(--li-fsz);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
}

a:hover {
  opacity: .5;
  text-decoration: underline;
}

i {
  cursor: pointer;
}

img {
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

blockquote {
  position: relative;
  padding: 35px 15px 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  font-style: italic;
  background: #f5f5f5;
  color: #777777;
  border-left: 4px solid #9dd4ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
}

blockquote:before{
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 15px;
  content: "\f10d";
  font-family: FontAwesome;
  color: #9dd4ff;
  font-size: 28px;
  line-height: 1;
  font-weight: 900;
}

blockquote p {
  padding: 0;
  margin: 7px 0;
  line-height: 1.7;
}

/* header */
header {
  background: url(../img/turu.png) no-repeat center/cover;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 960px;
  height: 100px;
  transition: background-color .3s, box-shadow .3s;
  z-index: 1;
  display: flex;
  align-items: center;
  border-radius: 0 0 8px 8px;
}

header .logo {
  width: 100%;
}

header .logo a {
  width: 100%;
}

header .logo a img {
  width: 60%;
  margin: 0 8px;
}

header.scrolled {
  background-color: #fffafaa2;
  box-shadow: 0 0 4px #000000ad;
}

header .parent {
  position: relative;
  width: 20%;
  max-width: 150px;
  margin-right: 8px;
}

header .parent::before {
  content: "";
  display: block;
  padding-top: 2.5rem;
}

header .btn {
  line-height: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #11aaf1;
  color: #f1ebeb;
  text-align: center;
  border-radius: 8px;
  font-size: var(--btn-fsz);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 5px gray;
}

header .btn:hover {
  opacity: .8;
}

/* eye-catch */
#eye-catch {
  padding-top: 100px;
  max-width: 960px;
}

#eye-catch table {
  border-collapse: collapse;
  width: 100%;
}

#eye-catch table td.inquiry {
  padding-left: 16px;
  width: 60%;
  text-align: left;
  font-size: var(--tb-fsz);
  font-weight: bold;
}

#eye-catch table td.inquiry span {
  font-size: 1.3em;
}

.bigtitle {
  max-width: 960px;
  padding: 0 16px;
  margin: 0 auto;
}

.bigtitle h1 {
  margin: 16px 0;
  padding: 7px;
  border-bottom: 1px solid #56ad9a;
  border-left: 10px solid #56ad9a;
}

/* index */
#index {
  max-width: 960px;
  padding: 0 16px;
  margin: 0 auto 16px;
}

#index h2 {
  margin: 16px 0;
  padding: 7px;
  border-bottom: 1px solid #56ad9a;
  border-left: 10px solid #56ad9a;
}

#index .items ol {
  padding: 8px 0 0 16px;
  border-top: 3px double gray;
  border-bottom: 3px double gray;
}

#index .items ol li {
  margin-bottom: 8px;
  cursor: pointer;
  position: relative;
  width: fit-content;
}

#index .items ol li:hover {
  background: #81dfcb3b;
  border-radius: 8px;
  transition: all .3s;
}

#index .items ol li::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #56ad9a;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
  transition: all 0.3s;   /*変形の時間*/
}

#index .items ol li:hover::after {
  transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}

/* content */
.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

/* hero */
#hero {
  margin-bottom: 16px;
}

#hero h2 {
  margin: 16px 0;
  padding: 7px;
  border-bottom: 1px solid #56ad9a;
  border-left: 10px solid #56ad9a;
}

#hero ul.problem-list {
  position: relative;
  width: 100%;
  color: rgb(56, 53, 53);
}

#hero ul.problem-list img {
  height: 440px;
  position: absolute;
  border-radius: 8px;
  top: 0;
  opacity: 0.3;
  z-index: -1;
}

#hero ul.problem-list li  {
  user-select: none;
  text-align: center;
  background: #f3bf4e;
  margin: 0 auto;
  border-radius: 8px;
  margin-bottom: 8px;
  width: 95%;
  height: 60px;
  line-height: 60px;
  box-shadow: 2px 2px 8px gray;
  opacity: 0.8;
}

#hero ul.problem-list li.question2 {
  background: #ebfd4cde;
}

#hero ul.problem-list li.question3 {
  background: #84baf7f3;
}

#hero ul.problem-list li.question4 {
  background: rgba(250, 162, 177, 0.918);
}

#hero ul.problem-list li.question5 {
  background: #7eee74ea;
}

#hero ul.problem-list li.question6 {
  background: #fcef3cef;
}

#hero h3 {
  margin: 16px 0;
  padding: 7px;
  border-bottom: 1px solid #56ad9a;
  border-left: 10px solid #56ad9a;
}

#hero ul.how-to {
  margin: 0 0 16px 16px;
  color: rgb(255, 60, 0);
  font-weight: bold;
}

#hero ul.how-to > li:first-child {
  margin-bottom: 8px;
}

/* guidance */
#guidance {
  margin-bottom: 16px;
  font-size: var(--tb-fsz);
}

#guidance h2 {
  margin: 16px 0;
  padding: 7px;
  border-bottom: 1px solid #56ad9a;
  border-left: 10px solid #56ad9a;
}

#guidance dl {
  margin-bottom: 16px;
}

#guidance dl .course {
  margin-bottom: 8px;
}

#guidance dl div dt {
  font-weight: bold;
  color: #e0e0e0;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background: #56ad9a;
  margin: 0 auto 8px;
  border-radius: 8px;
  width: 90%;
  height: 60px;
  line-height: 60px;
  box-shadow: 2px 2px 8px gray;
  position: relative;
}

#guidance dl div dt:hover {
  opacity: 0.5;
  transition: all .3s;
}

#guidance dl div dt::after {
  content: '+';
  position: absolute;
  right: 16px;
  transition: transform .4s;
}

#guidance dl div dt.appear::after {
  transform: rotate(45deg);
}

#guidance dl div dd {
  width: 85%;
  margin: 0 auto;
  display: none;
}

#guidance dl div dt.appear + dd {
  display: block;
  animation: fadeIn .3s ease;
}

#guidance dl div dt.appear + dd.disappear {
  animation: fadeOut .3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(+10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(+10px);
  }
}

#guidance dl div dd ul li {
  font-size: 0.95em;
}

#guidance dl div dd ul h3 {
  /* font-weight: bold; */
  margin: 4px 0;
}

#guidance dl div dd ul li {
  padding-left: 1em;
}

#guidance .price {
  display: none;
}

#guidance a {
  color: blue;
}

/* philosophy */
#philosophy {
  margin: 16px 0;
}

#philosophy h2 {
  margin: 16px 0;
  padding: 7px;
  border-bottom: 1px solid #56ad9a;
  border-left: 10px solid #56ad9a;
}

#philosophy .philosophy-contents p {
  margin-bottom: 8px;
}

#philosophy .philosophy-contents h3 {
  margin: 16px 0;
  padding: 7px;
  border-bottom: 1px solid #56ad9a;
  border-left: 10px solid #56ad9a;
}

/* profile */
#profile h2 {
  margin: 16px 0;
  padding: 7px;
  border-bottom: 1px solid #56ad9a;
  border-left: 10px solid #56ad9a;
}

#profile div.detail {
  margin: 0 auto 16px;
  border: 3px double black;
  border-radius: 8px;
  width: 100%;
}

#profile .detail h3 {
  text-align: center;
  margin: 16px 0;
}

#profile div.detail div {
  text-align: center;
  margin: 0 16px;
}

#profile div img {
  display: inline-block;
  border: 1px solid black;
  background:#1ae25dbd;
  width: 150px;
  max-height: 250px;
  border-radius: 50%;
  margin-bottom: 16px;
}

#profile div.detail div p {
  padding: 16px;
  background: rgb(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 2px 2px 8px gray;
  text-align: left;
}

#profile div.detail > p {
  margin: 0 16px;
  padding: 16px;
}

#profile p a {
  color: red;
}

/* copyright */
.copyright {
  background: #323435;
  height: 15vh;
  min-height: 80px;
  display: flex;
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  align-items: center;
}

.copyright small {
  display: block;
  font-size: var(--small-fsz);
  color: #eee;
  margin-left: 16px;
}

.copyright a.sns {
  width: var(--i-size);
  height: var(--i-size);
  border-radius: 50%;
  text-align: center;
  line-height: var(--i-size);
  background: rgb(39, 38, 38);
}

.copyright a.sns.instagram {
  position: absolute;
  right: calc(var(--i-size) + 24px);
  top: calc((100% - var(--i-size)) / 2)
}

.copyright a.sns.twitter {
  position: absolute;
  right: calc(var(--i-size) * 2 + 32px);
  top: calc((100% - var(--i-size)) / 2)
}

.copyright i {
  display: inline-block;
  width: var(--i-size);
  height: var(--i-size);
  font-size: 1.3rem;
  color: #f2f2f2;
}

.copyright i::before {
  line-height: 0;
}

.copyright a.twitter:hover {
  background: #00b0ed;
  color: #fff;
  opacity: 1;
}

.copyright a.instagram:hover {
  background: linear-gradient(45deg, rgba(254,212,117,1) 0%,rgba(229,61,93,1) 50%,rgba(194,49,134,1) 70%,rgba(156,56,187,1) 100%);
  color: #fff;
  opacity: 1;
}

#to_top {
  position: fixed;
  bottom: 8px;
  right: 8px;
  opacity: 0;
  transition: opacity .3s;
}

#to_top.scrolled {
  opacity: 1;
}

#to_top i {
  font-size: var(--i-size);
  color: #43cec2;
}